/*********
 * fonts *
 *********/

/* import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* apply fonts */
* {
    font-family: 'Playfair Display', 'Song Myung', serif;
}

.post_article,
.post_article * {
    font-family: 'MaruBuri-Regular', sans-serif;
}